a{
    text-decoration: none;
    color: #fff;
}

.menu-admin{
    font-size: 13px;
    float: left;
    margin-bottom: 19px;
    margin-left: 6px;
}
.menu-admin a{
   background: none repeat scroll 0 0 #094FA4;
   padding: 7px;
}

.menu-admin a:hover{
   background: none repeat scroll 0 0 #009FE0;
   padding: 7px; 
}


.menu-admin a:active{
   background: none repeat scroll 0 0 #009FE0;
   color: #fff;
   padding: 7px;
   
}

.fond-admin{  background-color: #D0D0CE;
    float: left;
    height: 1636px;
    margin-top: -57px;
    width: 68px;}

.pers-admin{  background: url("../images/3-22.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 1462px;
    margin-left: -68px;
    margin-top: 77px;
    width: 320px;}
.menu-2{float: left; padding-top: 12px; margin-left: -51px;}
.content-admin{ width: 536px; float: left; min-height: 1400px;}
#sf_admin_content{
    min-height: 206px;
   
    width: 580px;}

#sf_admin_filter th, td {
    border: none;
}

#sf_admin_content th, td {
    border: 1px solid #094FA4;
    padding: 0.5em;
}

.tit-admin{background: url("../images/admin.png") no-repeat scroll 0 0 transparent;
width: 335px; height: 44px;}

.tit-subadmin{   color: #86C82D;
    font-size: 20px;
    margin-top: -36px;
    padding-left: 30%;
}

.home-admin{ min-height: 500px;
    width: 900px;}
.layout-admin{width: 900px; height: 1636px;/*height: 600px;*/  margin: 0 auto; border: 8px solid #094FA4; }
.men-active{ background: none repeat scroll 0 0 #009FE0 !important;
   color: #fff;
   padding: 7px;}