a{
    text-decoration: none;
    color: #fff;
}
.menu-admin{
   background: none repeat scroll 0 0 #1D509F;
   
    float: left;
    margin: 3px;
    padding: 3px;
}

.menu-admin a:hover{
   background: none repeat scroll 0 0 #009FE0;
   color: #fff;
    padding: 3px;
   
}

.menu-admin a:active{
   background: none repeat scroll 0 0 #009FE0;
   color: #fff;
   padding: 3px;
   
}

.fond-admin{   background-color: #D0D0CE;
    float: left;
    height: 600px;
    margin-top: -57px;
    width: 68px;}

.pers-admin{background: url("../images/3-22.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 462px;
    margin-left: -68px;
    margin-top: 77px;
    width: 320px;}
.menu-2{float: left; padding-top: 70px; margin-left: -36px;}
.content-admin{float: left; width: 536px;}
#sf_admin_content{float: left;
    height: 206px;
    overflow: auto;
    width: 580px;}

#sf_admin_filter th, td {
    border: none;
}

#sf_admin_content th, td {
    border: 1px solid #1D509F;
    padding: 0.5em;
}

.tit-admin{background: url("../images/admin.png") no-repeat scroll 0 0 transparent;
width: 329px; height: 44px;}

.tit-subadmin{ color: #86C82D;
    font-size: 20px;
    left: 440px;
    margin-top: -36px;
    position: absolute;
    }