/**********************************************************************************

	Project Name: 
	Project Description: 
	File Name:
	Author: Adi Purdila
	Author URI: http://www.adipurdila.com
	Version: 1.0.0
	
**********************************************************************************/
/* ---------- TYPOGRAPHY ---------- */

/* ---------- LAYOUT ---------- */
.container {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.timer-area {
  padding-left: 6.5%;
  position: absolute;
}
.timer-area h1 {
  color: white;
}
/* ---------- SIGNUP ---------- */
.form-wrapper {
  border: 1px solid #dcdee0;
  padding: .5em;
  width: 30em;
  margin: 1em auto;
  overflow: hidden;
  -webkit-border-radius: 13px;
  border-radius: 13px;
}
.form-wrapper:hover,
.form-wrapper:focus {
  border: 1px solid #c1c5c8;
}

/* ---------- TIMER ---------- */
ul#countdown li {
  display: inline-block;
  background: url("../images/casillas-contador.png") no-repeat scroll left top transparent;
  width: 37px;
  text-align: center;
}
ul#countdown li span {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  height: 108px;
  line-height: 27px;
  position: relative;
}
ul#countdown li span::before {
  
}
ul#countdown li p.timeRefDays,
ul#countdown li p.timeRefHours,
ul#countdown li p.timeRefMinutes,
ul#countdown li p.timeRefSeconds {
 
}

#progress-bar {background:none repeat scroll 0 0 #009FE0; width:100px; height:34px; float:left; margin-right: 10px}
#status {background:#0066cc; width:0%; height:34px; margin-bottom: 7px;}

ul#countdown li p{font-size: 11px !important; }